/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

/* @keyframes button-shadow {
    from {
        box-shadow: 0 0 0 currentColor;
    }

    to {
        box-shadow: 2px 2px 0 currentColor;
    }
} */

@keyframes big-heart {
    from {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
        --like-button-sparks: rgb(255 37 0 / 1);
    }

    75% {
        transform: scale(1);
        --like-button-sparks: rgb(255 37 0 / 1);
    }

    to {
        --like-button-sparks: rgb(255 37 0 / 0);
    }
}