/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --standart-font: "Inter";
    --decorated-font: "PressStart2P";
    --standart-font-weight-light: 400;
    --standart-font-weight-bold: 700;
    --text-stroke-color: rgba(206,206,206,0.5);
    --background: repeating-linear-gradient(to right,#d3d3d3 0 2px, rgba(211, 211, 211, 0) 2px 4px),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, rgba(211, 211, 211, 0) 2px 4px),
    linear-gradient(#e7e7e7, #1a1a1a);
    --decorated-font-color: white;
    --like-button-core: rgb(0 0 0 / 0);
    --like-button-main-body: rgb(0 0 0 / 0);
    --like-button-sparks: rgb(0 0 0 / 0);
    --like-button-contur: rgb(0 0 0 / 1);
    --background-color: #FFF;
    --border-color: black;
    --border-width: 2px;
    --border-line: solid;
}